$offset: 187;
$duration: 1.4s;

#wrap {
  position: relative;
}

h1 {
  padding: 1rem 0;
  line-height: 3rem;
}

.spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
  animation: rotator $duration linear infinite;
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite, colors ($duration * 4) ease-in-out infinite;
}

.grid {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding-bottom: 20px;

  &-container {
    display: grid;

    grid-auto-rows: auto;
    gap: 16px;
    justify-content: center;

    &[data-column='1'] {
      grid-template-columns: 1fr;
    }
    &[data-column='2'] {
      grid-template-columns: repeat(2, 1fr);
    }
    &[data-column='3'] {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-item {
    overflow: hidden;
    margin-bottom: 16px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    vertical-align: top;
    border-radius: 4px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: auto;
      transition: transform 0.3s ease-in-out;
    }
  }
}

.img-layer {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 30;
  animation: fadeIn 0.3s ease-in-out;
  cursor: pointer;

  .img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;

    img {
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  &.opening {
    .img-wrap {
      transform: scale(1);
      transition: transform 0.3s 0.3s ease-in-out;
    }
  }

  &.closing {
    .img-wrap {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: calc($offset / 4);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}
